<div class="container"> 
    <form action="/upload" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileupload" accept="image/*" id="fileUpload" />
        <input type="submit" value="Upload Image" name="submit" />
    </form>
</div>

{{#if error}}
<h1>{{error}}</h1>
{{/if}}
